MonolithProject1/MonolithProject1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MonolithProject1/.vs/MonolithProject1/v16/Server/sqlite3/storage.ide-wal
MonolithProject1/.vs/MonolithProject1/v16/Server/sqlite3/storage.ide-shm
MonolithProject1/.vs/MonolithProject1/v16/Server/sqlite3/storage.ide
MonolithProject1/.vs/MonolithProject1/v16/.suo
MonolithProject1/MonolithProject1/obj/Debug/MonolithProject1.csproj.CoreCompileInputs.cache
MonolithProject1/MonolithProject1/obj/Debug/MonolithProject1.csprojAssemblyReference.cache
MonolithProject1/.vs/MonolithProject1/v16/Server/sqlite3/db.lock
MonolithProject1/MonolithProject2/obj/Debug/MonolithProject2.csproj.CoreCompileInputs.cache
MonolithProject1/MonolithProject2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
